<% include header %>
<br><br><br><br>
      <div class="container">
     <h2>CÁLCULO DE JUROS</h2>
     <hr>
      <div class="jumbotron">
      <br>
      <% if(!resultado.calculado){ %>
      <form method="GET">
        Valor inicial: <input type="text" class="form-control" name="valorInicial"><br>
        Taxa a.m.: <input type="text" class="form-control" name="taxa"><br>
        Quantos meses: <input type="text" class="form-control" name="tempo"><br>
        <hr>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Calcular</button>
      </form>
      </div>
      <% } %>
      </div>
     <% if(resultado.calculado){ %>
       <div class="container">
       <ul class="list-group">
      <li class="list-group-item list-group-item-info">
          <h2>Saldo Total ao Fim do Período</h2>
         <h1> R$ <%= (resultado.total.toFixed(2)).toLocaleString('pt-BR') %></h1>
         <hr>

        <h3>Evolução do Período</h3>
        <br>
        <table>
          <tr>
          <th>Mês</th>
          <th>Valor</th>
          </tr>
         <% resultado.evolucao.forEach((valor) => { %>
          <tr>
          <td><%= valor.mes %></td>
          <td>R$ <%= (valor.juros.toFixed(2)).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></td>
          </tr>
          <% }) %>
        </table>
         </li>
        </ul>
        </div>

      <% } %>
      
      <br>
      <br><br>
<% include footer %>