<% include header %>
<br><br><br><br><br>
     <h4>Sistema de Finanças Pessoais</h4>
      <br>
      <div class="container">
            
           
<div align="center"><img src="/images/grafico.png" alt="Minhas Finanças"></div>
      </div>  
     
      <br><br>
<% include footer %>