<% include header %>
<br><br><br>
      <div class="container">
            
           
<div align="center"><img class="img-fluid" src="/images/grafico.png" alt="Minhas Finanças"></div>
      </div>  
     
      <br><br>
<% include footer %>