<% include header %>
<br><br><br><br>
      <div class="container">
     <p class="alert alert-info">Os lançamentos de saída serão identificados pelo operador ( - ).</p>
      <div class="jumbotron">
      <h2>LANÇAMENTOS</h2>
      <br>
       <hr>
      <form method="POST">
        Descrição: <input type="text" class="form-control" name="descricao"><br>
        Valor: <input type="number" class="form-control" name="valor">
        <br>
        <hr>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Registrar</button>
      </form>
      </div>
      </div>
      <br>
<% include footer %>