<% include header %>
<br><br><br>
<div class="container">
      <h2>RESUMO</h2>
      <br>
      <p>Filtrar por: 
        <a href="/operacoes">Todos</a> |
        <a href="/operacoes?tipo=entradas">Entradas</a> |
        <a href="/operacoes?tipo=saidas">Saídas</a>
      </p>
      <div class="row col-md-12">
         <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Subtotal</th>
                <th>Excluir</th>
               
              </tr>
            <% operacoes.forEach((operacao) => { %>
            </thead>
            <tbody>
              <tr>
                <td>#</td>
                <td><%=operacao.descricao %></td>
                <td><%=(operacao.valor).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></td>
                <td>Saldo: <%= (operacao.sub).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></td>
                <td><a href="/operacoes/delete/<%= operacao._id %>">Excluir</a></td>
                
              </tr>
            </tbody>
          <% }) %>
          </table>
        </div>
      </div>
      
      <br>
  
      </div>
      <br>
      <br>
<% include footer %>